<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scelta ingredienti</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/stile.css">
	<link rel="stylesheet" href="/css/ingredientiToAdd.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>

<body class="ingredientiToAdd-page">
<div th:insert="~{header :: common-header('Cerca...', @{/search})}"></div>

	<main class="main-page">
		<div class="heading">
			<h1>Scelta ingredienti per la ricetta</h1>
			<h2 th:text="${ricetta.nome}">Nome Ricetta</h2>
		</div>
		<div class="ingredienti-container">
			<form th:action="@{/user/saveIngredientiQuantita}" method="POST">
				<input type="hidden" th:name="ricettaId" th:value="${ricetta.id}" />
				<div class="container-columns">
					<div class="added-ingredients">
						<h2>Ingredienti già aggiunti:</h2>
						<p th:if="${ricetta.ingredienti.isEmpty()}">Non ci sono ingredienti per questa ricetta</p>
						<ul class="added-ingredients-list">
							<li th:each="ingrediente : ${ricetta.ingredienti}" class="ingredient-row">
								<span class="ingredient-name" th:text="${ingrediente.nome}"></span>
								<input type="number" min="0" step="1" th:name="'quantita_' + ${ingrediente.id}" th:value="${ingrediente.quantità != null ? ingrediente.quantità : ''}" placeholder="Qty" class="quantity-input">
								<span class="unit">g</span>
								<div class="btn-group">
									<a th:href="@{'/user/removeIngredienteFromRicetta/'+ ${ingrediente.id}+'/'+${ricetta.id}}" class="btn-remove">Cancella</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="available-ingredients">
						<h3>Ingredienti che si possono aggiungere:</h3>
						<ul class="available-ingredients-list">
							<li th:each="ingrediente : ${ingredientiToAdd}">
								<a th:href="@{'/user/addIngredienteToRicetta/'+ ${ingrediente.id}+'/'+${ricetta.id}}" class="ingredient-button">
									<span th:text="${ingrediente.nome}"> </span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="button-row">
					<a th:href="@{/user/formNewIngrediente(source='ingredientiToAdd', ricettaId=${ricetta.id})}" class="btn-create">Crea Ingrediente</a>
					<button type="submit" class="btn-finish">Fine</button>
				</div>
			</form>
		</div>
	</main>

</body>

</html>
